<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Zone</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container text-center">
    <h1>What Account-Related Thing Would You Like To Do?</h1>

    <div class="mt-4">
        <a href="/admin/makeaccount" class="btn custom-btn">Make Member Or Trainer Account</a>
    </div>

    <div class="mt-4">
        <a href="/admin/deleteaccount" class="btn custom-btn">Delete Member Or Trainer Account</a>
    </div>

    <div class="mt-4">
        <a href="/admin/changeaccount" class="btn custom-btn">Change Member Account</a>
    </div>

    <div class="mt-4">
        <a href="/admin/dashboard" class="btn custom-btn">Go Back To Admin Dashboard</a>
    </div>

    <div class="mt-4">
        <a href="/" class="btn custom-btn">Go Back To Main Page</a>
    </div>
</div>
</body>
</html>
