<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container text-center">
    <h1>Welcome To The Member Dashboard!</h1>

    <div class="mt-4" th:if="${isAuthenticated}">
        <a href="/logout" class="btn custom-btn">Logout</a>
    </div>

    <div class="mt-4">
        <a href="/member/sessions" class="btn custom-btn">Check Schedule</a>
    </div>

    <div class="mt-4">
        <a href="/" class="btn custom-btn">Go Back To Main Page</a>
    </div>
</div>
</body>
</html>
